* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #f8fafc;
    line-height: 1.6;
}

header {
    background: #1e293b;
    padding: 20px 10%;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: #f8fafc;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

section {
    padding: 80px 10%;
    text-align: center;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero span {
    color: #38bdf8;
}

.hero p {
    font-size: 20px;
    color: #cbd5e1;
    max-width: 650px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn:hover {
    background: #7dd3fc;
}

h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.about p {
    max-width: 700px;
    margin: auto;
    color: #cbd5e1;
}

.skills-container,
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 280px;
}

.card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 25px;
    background: #1e293b;
    color: #cbd5e1;
}
